            <ang-accordion>
                
                
                
                 <collapsible-item item-title="ProdPlus DATA">
                    
                </collapsible-item>
                
                
                
                
                
                
                
                <collapsible-item item-title="ProdPlus International">
                    
                </collapsible-item>
                
                
                
                
                
                
                
                 <collapsible-item item-title="ProdPlus IPTEL">
                    
                </collapsible-item>
                
                
                
                
                
                 <!--<modal title="Login form" visible="showModal">
                    <form role="form">
                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" />
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" />
                      </div>
                      <button type="submit" class="btn btn-default" ng-click="setting()">Submit</button>
                    </form>
                  </modal>-->
                
                 <collapsible-item item-title="CHRONOS"> 
                    
                </collapsible-item>
                
                
                
                <collapsible-item item-title="Air-Messir">
                    
                </collapsible-item>
                
                <!--International manag tools-->
                <collapsible-item item-title="SACRE">
                    <div class="section section-info">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <img src="https://unsplash.imgix.net/photo-1422405153578-4bd676b19036?w=1024&amp;q=50&amp;fm=jpg&amp;s=5ecc4c704ea97d85ea550f84a1499228" class="img-responsive">
                          </div>
                          <div class="col-md-6">
                            <a href="http://10.24.193.116/mediawiki/index.php/ProdPlus_DATA" id="s"><h1>ProdPlus DATA</h1></a>
                            <h3>Description</h3>
                            <p>Prodplus Data est une application développée pour OBS pour configurer les routeurs du réseau.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </collapsible-item>
                
                <collapsible-item item-title="W@too">
                    <div class="section section-info">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <img src="https://unsplash.imgix.net/photo-1422405153578-4bd676b19036?w=1024&amp;q=50&amp;fm=jpg&amp;s=5ecc4c704ea97d85ea550f84a1499228" class="img-responsive">
                          </div>
                          <div class="col-md-6">
                            <a href="http://10.24.193.116/mediawiki/index.php/ProdPlus_DATA" id="s"><h1>ProdPlus DATA</h1></a>
                            <h3>Description</h3>
                            <p>Prodplus Data est une application développée pour OBS pour configurer les routeurs du réseau.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </collapsible-item>
                
                <collapsible-item item-title="CLARA">
                    <div class="section section-info">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <img src="https://unsplash.imgix.net/photo-1422405153578-4bd676b19036?w=1024&amp;q=50&amp;fm=jpg&amp;s=5ecc4c704ea97d85ea550f84a1499228" class="img-responsive">
                          </div>
                          <div class="col-md-6">
                            <a href="http://10.24.193.116/mediawiki/index.php/ProdPlus_DATA" id="s"><h1>ProdPlus DATA</h1></a>
                            <h3>Description</h3>
                            <p>Prodplus Data est une application développée pour OBS pour configurer les routeurs du réseau.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </collapsible-item>
            </ang-accordion>






















































                          <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <img src="img/Chronos.PNG" class="img-responsive">
                              </div>
                              <div class="col-md-6">
                                <h3>Description</h3>
                                CHRONOS est un portail de Production qui permet :
                                <ul>
                                    <li>de produire des services internet de manière ordonnancée.</li>
                                    <li>de réaliser la configuration des services sur les plateformes de services</li>
                                    <li>de tenir à jour un référentiel de données techniques</li>
                                    <li>d'être interfacé avec d’autres SI tels que OPERA, OPUS</li>
                                    <li>d'effectuer des opérations de maintenance sur les produits gérés et installés(SAV)</li>
                                    <li>Chronos est en contact direct avec le Selfcare.</li>
                                </ul> 

                                <div class="col-md-8">
                                    <uib-accordion-group heading="Tools" is-open="status.open90">
                                      <ul>
                                            <li ng-repeat="tool in chronos_tools">
                                                <span><img class="accordion-logos" src="img/{{tool}}.png"><label class="tool-label">{{tool}}</label></span>
                                            </li>
                                        </ul>
                                    </uib-accordion-group>
                                </div>
                                  
                                <div class="row">
                                    <div class="col-md-3">
                                        <a class="btn btn-block btn-success" href="http://10.24.193.116/mediawiki/index.php/CHRONOS">Home</a>
                                    </div>
                                    <!--<div class="col-md-3">
                                        <a class="btn btn-primary btn-sm" ng-click="toggleModal()">Play</a>
                                    </div>-->
                                </div>
                                </div>
                            </div>
                          </div>


<div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <img src="https://ununsplash.imgix.net/photo-1415302199888-384f752645d0?w=1024&amp;q=50&amp;fm=jpg&amp;s=823bdcc1b7ad955f5180efd352561016" class="img-responsive">
                              </div>
                              <div class="col-md-6">
                                <a href="http://10.24.193.116/mediawiki/index.php/Air_Messir" id="s"><h1>TMA Outil de Configuration 2016 - Air Messir</h1></a>
                                <h3>Description</h3>
                                <p>WBS Template for ADM projects
                                    Modèle de WBS pour les projets de type ADM.</p>
                                <h3>Outils</h3>
                                <div class="col-md-8">   

                                    <div id="photoflot">
                                        <ul>
                                            <li ng-repeat="tool in airMessir_tools">
                                                <span><img class="tools" src="img/{{tool}}.png"> {{tool}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                  </div>
                                  <h3>Liens</h3>
                                  <div class="col-md-3">  

                                    <div class="row">
                                        <div class="col-md-3">
                                            <a class="btn btn-sm btn-success">Home</a>
                                        </div>
                                        <br/>
                                        <div class="col-md-3">
                                            <a class="btn btn-primary btn-sm" ng-click="toggleModal()">Play</a>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                          </div>






                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <img src="https://unsplash.imgix.net/photo-1422405153578-4bd676b19036?w=1024&amp;q=50&amp;fm=jpg&amp;s=5ecc4c704ea97d85ea550f84a1499228" class="img-responsive">
                          </div>
                          <div class="col-md-6">
                            <a href="http://10.24.193.116/mediawiki/index.php/ProdPlus_DATA" id="s"><h1>ProdPlus IPTEL</h1></a>
                            <h3>Description</h3>
                            <p>Prodplus IPTEL est une application développée pour OBS pour configurer les routeurs du réseau pour la téléphonie par IP en France.</p>
                          </div>
                        </div>
                      </div>
                          
                        